@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

body {
  background-color: hsl(216, 12%, 8%);

}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 100px);
  width: 100%;
}

article {
  background: radial-gradient(circle at top, hsl(215, 27%, 17%) 0%,
      hsl(215, 27%, 12%) 100%);
  border-radius: 1rem;
  padding: 1.5rem;
  width: 90%;
  max-width: 340px;
}

article figure {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  height: 2rem;
  background-color: hsl(210, 19%, 18%);
  aspect-ratio: 1/1;
  border-radius: 50%;
}

article figure img {
  height: 0.8rem;
}

article h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  margin-bottom: 0.5rem;
}

article p {
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 2rem;
  color: hsl(216, 12%, 54%);
}

article .attribution {
  font-size: 11px;
  text-align: center;
  font-family: 'Overpass', sans-serif;
  font-size: 15px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}