@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

body {
  background-color: hsl(216, 12%, 8%);

}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 100px);
  width: 100%;
}

article {
  background: radial-gradient(circle at top, hsl(215, 27%, 17%) 0%,
      hsl(215, 27%, 12%) 100%);
  border-radius: 1rem;
  padding: 1.5rem;
  width: 90%;
  max-width: 340px;
}

article figure {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  height: 2rem;
  background-color: hsl(210, 19%, 18%);
  aspect-ratio: 1/1;
  border-radius: 50%;
}

article figure img {
  height: 0.8rem;
}

article h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  margin-bottom: 0.5rem;
}

article p {
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 2rem;
  color: hsl(216, 12%, 54%);
}

article form {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

article from .rating span {
  font-size: 0.8rem;
  font-weight: 400;
  position: absolute;
  z-index: 1;
  color: hsl(217, 12%, 63%);
  pointer-events: nome;
}

article from .rating input[type="radio"]:checked {
  background-color: hsl(217, 12%, 63%);
}

article form .rating input[type="radio"]:checked~span {
  color: #fff;
}

article form .rating input[type="radio"]:hover {
  background-color: hsl(25, 97%, 53%);
}

article from .rating input[type="radio"]:hover~span {
  color: #fff;
}

article from button[type="submit"] {
  height: 2.5rem;
  width: 100%;
  padding: 0.5 1rem;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #fff;
  background-color: hsl(25, 97%, 53%);
  border: none;
  cursor: pointer;
}

article form button[type="sbmit"]:hover {
  background-color: #fff;
  color: hsl(25, 97%, 53%);
}

#principal {
  height: 22rem;
}

#agradecimento-art {
  height: 22rem;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#agradecimento-art div {
  background-color: hsl(213, 19%, 18%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  border-radius: 1rem;
  margin: 1.5rem 0;
}

#agradecimento-art div p {
  color: hsla(25, 97%, 53%, 0.5);
  margin-bottom: 0;
  padding: 0 1rem;
}

#agradecimento-art p {
  text-align: center;
  margin-bottom: 0;
}



article .attribution {
  font-size: 15px;
  text-align: center;
  font-family: 'Overpass', sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  font-weight: 400;
  text-decoration: none;
}

.attribution a {
  text-decoration: underline;
}